@{ ViewData["Title"] = Global.Titles.Privacy; }


<body>
    <div class="container">
        <div class="d-block">
            <p><span><!-- ######## This is a comment, visible only in the source editor  ######## --></span></p>
            <h1 class="text-white" style=" text-align: center;"><strong>ДИПЛОМЕН ПРОЕКТ</strong></h1>
            <h1 class="text-white" style=" text-align: center;"><strong><span style="text-decoration: underline;"></span></strong></h1>
            <h1 class="text-white" style=" text-align: center;"><strong><span style="text-decoration: underline;">Jica</span></strong></h1>
            <p><strong><span style="text-decoration: underline;"></span></strong></p>
            <p><img src="https://cdn.paris.fr/paris/2020/11/17/huge-cd5d230a87e2f247a97789829d467ad2.jpg" alt="movie-salone" style="display: block; margin-left: auto; margin-right: auto; float: left;" width="371" height="291" /><img src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1240w,f_auto,q_auto:best/newscms/2021_31/3496464/210804-live-music-comeback-mb-1314.jpg" alt="" style="float: right;" width="493" height="292" /></p>
        </div>
        <div>
            <br />
            <br />
            <br />
            <br />
            <h2 class="text-white" style=" text-align: left; clear:both" class="mt-3">Дипломант: Мирослав Дяков от 12А клас</h2>
            <h2 class="text-white" style=" text-align: left;">Специалност: Приложен програмист от 12А клас</h2>
            <h2 class="text-white" style=" text-align: left;">Email: miroslav.dyakov@pgmett.com</h2>
            <h2 class="text-white" style=" text-align: left;">Ръководител: инж. Николай Христов</h2>
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="500" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=%D0%BF%D0%B3%D0%BC%D0%B5%D1%82%D1%82%20%D1%88%D1%83%D0%BC%D0%B5%D0%BD&t=k&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/">divi discount</a><br>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: right;
                            height: 400px;
                            width: 500px;
                        }
                    </style><a href="https://www.embedgooglemap.net">google maps in website</a>
                    <style>
                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 400px;
                            width: 500px;
                        }
                    </style>
                </div>
            </div>
            <p></p>
            <h2 class="text-white" style=" text-align: left;">За приложението:</h2>
            <h2 class="text-white" style=" text-align: left;">Целта на приложението е, да предостави възможност на фирма "Jica" занимаваща се с продаването на билети за музикални фестивали да представи на клиентите актуалните събития, както и информация за артистите, които ще участват.</h2>
            <h3 class="text-white">Софтуерната разработка предоставя възможност на клиента (възложител), чрез администраторски акаунт да публикува съдържание с цел реклама на продукта предмет на дейността, като това е в допълнение и/или към плакати, билборди, листовки и други средства за реклама. По този начин се постига повишение в посещаемостта на конерти и фестивали, а също и се спестяват разходи.</h3>
            <h2 class="text-white">Disclaimer:</h2>
            <h4 class="text-white"><em>Приложението използва материали и изображения, които не са обвързани със конкретни бизнес интереси и е разработено чисто с учебна цел, некомерсиална. Всякаква прилика със съществуващи лица и т.н. е случайна.</em></h4>
            <p></p>
            <h3><a href="https://github.com/M1r0slav/Jica"><i class="fab fa-github"></i> Github</a></h3>
        </div>
    </div>
</body>
@section Scripts{
    @*<script>
        window.onload = function () {
        alert("Privacy is viewed now!")
        };
        </script>*@
}